@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@900&family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
margin: 0;
padding: 0;
}
.sidebar{
    background-color: rgb(196, 190, 190);
    width: 340px;
    position: absolute;
    font-family: 'Geologica', sans-serif;
    height: 100vh;
    transition:transform 0.4s ease-in;
}
.sidebar nav li{
    margin-top: 40px;
    list-style: none;
    padding: 50px;
    font-size: 40px;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    background-color: rgb(108,18,63);
    width: 90vw;
    padding:0 80px;
    height: 100vh;
}
.container{
    display: flex;
}
.infocontainer{
    background-color: rgb(108, 18, 63);
    height:58vh;
    width: 80vw;
    margin:16em auto;
    display: flex;
    justify-content: space-around;
    }
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
    padding: 4.5em;
}
.hello{
 font-size: 4.8em;
 color: white;
}
.name{
  margin-top: 5px;
  font-size: 4em;
  font-family: 'Geologica', sans-serif;
   color: rgb(128, 180, 231);
}
.about{
  margin-top: 25px;
 font-size: 3.6em ;
 color: white;
}
.moreabout{
    margin-top:35px;
    font-size: 2.2em;
    color: white;

}
.buttons{
    margin-top: 48px;
    font-size: 16px;
}
.buttons button {
    padding: 10px 14px;
    border-radius: 22px;
    font-size: 2em;
    color: white;
    background-color: rgb(14, 119, 121);
    font-weight: bold;
    margin:0 10px;
    cursor: pointer;
}
.buttons button:hover{
    color: rgb(43, 3, 43);
    background-color: rgb(50, 50, 185);
}
.devPic img{
    width:40vw;
    height:68vh;
    margin:0 0 20px 0;
}
.image{
    width:80vw;
    height:100vh;
    margin:4em;
}
.info h2{
    font-size: 4.4em;
}
.contactform {
padding:1em 1em;
font-family: 'Roboto Condensed', sans-serif;
font-size: 30px;
color: white;

}
.contactform h1{
    font-family: 'Roboto Condensed', sans-serif;
    padding:1em 0;
    font-weight:3600;
    margin:0.2em;
}
.contactform div{
    padding:15px 0;
    display: flex;
    flex-direction: column;
}
.contactform div input{
    font-size: 30px;
    width: 38vw;
    border-radius: 0.8em;
    margin:0.1em 0 0 0;
    padding:0.1em;
    color: black;
}
#emailHelp{
    font-size: 25px;
    color:blue;
    margin: 0 5px;
    padding:3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width:24px;
    margin:3px 8px;
}
.btn-primary {
        padding: 0.7em;
        border-radius: 22px ;
        font-size: 1em;
        color: black;
        background-color: rgb(16, 115, 104);
        font-weight: bold;
        margin: 10px 10px;
        cursor: pointer;
}
.blogItem{
    margin:2em 2em;
    font-family: 'Montserrat', sans-serif;
    padding-left: 2em;
}
 h1{
    font-family: 'Roboto Condensed', sans-serif;
    margin:0.8em;
    font-size: 3em;
    justify-content: center;
    padding-left: 24px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    padding:0.6em;

}
h2{
font-family: 'Roboto Condensed', sans-serif;
margin:0.8em;
font-size: 3em;
}
.intro p{
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
}
.skillcontainer{
    padding:0.em;
}
.skillItem{
    padding:12px;
    display:flex;
    align-items: center;
    font-weight: 1000;
    font-size: 2em;
}
.skill{
    width:265px;
    height:6px;
    background-color: red;
    border:7px solid black;
    padding-left: 300px;
}
.hundred{
    width:265px;
    background-color: blueviolet;
}
.fifty {
    width: 125px;
    background-color: aqua;
}
.t5 {
        width: 75px;
        background-color: yellow;
}
.project{
    font-size:3em;
    justify-content: center;
    margin:0.5em;
    padding:0.1em;
}
@media (max-width:1650px) {
.devPic{
    display: none;
}
}
.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburger{
    cursor: pointer;
    position: absolute;
    top:8px;
    left:8px;

}
.cross{
 margin-left: 280px;
}
*{
    color: white;
}